*{
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html{
	font-size: 16px;
}

body{
	color: #fff;
	font-size: 1em;
	line-height: 1.1rem;
	font-family: "Open Sans", sans-serif;
	background-color: rgb(20, 63, 94);
	font-weight: 300;
}

header{
	background-color: rgb(26, 78, 120);
	-webkit-box-shadow: 0 3px 10px 5px rgba(13, 40, 61, .5);
	        box-shadow: 0 3px 10px 5px rgba(13, 40, 61, .5);
}

header,
.container,
.header-wrap,
.copy-section,
.tab-wrap,
.content,
.tab-wrap .content > div{
	width: 100%;
	margin: 0 auto;
}

.header-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
					height: 6.25rem;
}

.logo,
.nav-wrap,
.nav-wrap .nav-menu,
.nav-wrap .nav-menu a{
	height: 100%;
}

.logo{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 0 1.5rem;
}

.logo a{
	font-size: 3em;
	line-height: 1.05em;
	text-decoration: none;
	color: #fff;
	border-bottom: solid 2px rgb(0, 163, 214);
}

.nav-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.nav-menu{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style: none;
	padding: 0;
	font-size: 2em;
	line-height: 1.1em;
}

.nav-menu a{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	text-decoration: none;
	color: rgb(191, 191, 191);
	padding: 0 3.87rem;
}

.nav-menu a:hover, .nav-menu .active{
	color: #fff;
	background-color: rgb(47, 96, 151);
}

.beta{
	position: relative;
}

.beta span{
	position: absolute;
	bottom: 0.4rem;
	right: 3.8rem;
	font-size: 0.4em;
	letter-spacing: 1px;
	color: rgb(193, 121, 22);
	text-transform: uppercase;
}

.hamburger{
	width: 3.62rem;
	height: 2.25rem;
	position: relative;
	margin-right: 3rem;
	border-top: 2px solid rgb(148, 148, 148);
	border-bottom: 2px solid rgb(148, 148, 148);
}

.hamburger::after{
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	display: block;
	height: 2px;
	width: 100%;
	background: rgb(148, 148, 148);
}

/*     COPY SECTION     */

.copy-section{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	height: 8.12rem;
	color: #fff;
}

.copy-section a {
	color: #fff;
	text-decoration: none;
	margin: 0 0 1.2rem 3rem;
	font-size: 2em;
	line-height: 1.1em;
}

.copy-section a p span:last-child{
	text-transform: uppercase;
}

/*  TABS  */

.tab-wrap{
	height: 6.25rem;
	background-color: rgb(47, 96, 151);
}

.tab-wrap > input,
.drop-favorite > input,
.content-favorite{
	display: none;
}

.tab-wrap > input:checked + label{
	background-color: rgb(232, 241, 250);
	color: #000;
}

.tab-wrap > input[id="tab-1"]:checked ~ .content .tab-1,
.tab-wrap > input[id="tab-2"]:checked ~ .content .tab-2{
	display: block;
}

.tab-label{
	height: 100%;
	cursor: pointer;
	display: inline-block;
	padding: 0 2.62rem;
	background-color: rgb(47, 96, 151);
	font-size: 1.25em;
	line-height: 5em;
	margin: 0 -0.27rem 0 0;
	color: rgb(252, 252, 252);
}

.drop-favorite label{
	display: block;
	cursor: pointer;
}

.drop-favorite > input[id="tab-favorite"]:checked ~ .content-favorite{
	background-color: green;
	position: absolute;
	right: 3.3rem;
	top: 3.1rem;
	display: block;
	height: 10rem;
	width: 8rem;
	z-index: 5;
}

.content{
	position: relative;
}

.tab-wrap .content > div{
	position: absolute;
	top: 0;
	left: 0;
	background-color: #fff;
	display: none;
	color: #000;
	height: auto;
}

/*  TAB-2 CONTENT inside  */
/* FIRST FORM  -- search-area-field-wrap -- */

.tab-2 .list-wrap{
	width: 100%;
	height: 75vh;
	background-color: rgb(252, 252, 252);
}

.tab-2 .list-wrap .search-area-field-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 4.62rem;
	background-color: #fff;
	border-bottom: 2px solid rgb(217, 217, 217);
}

.btn-search{
	display: inline-block;
	margin: 0 0 0 1.25rem;
	cursor: pointer;
	border: none;
	outline: none;
	background-color: inherit;
}

.form-search span,
.drop-favorite span,
.search-area-field-wrap .question{
	font-size: 1.5em;
	line-height: 1.1em;
	vertical-align: middle;
	color: rgb(127, 127, 127);
}

.form-search{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
}

.form-search .input-search{
	width: 100%;
	padding: 0 0.5rem;
	margin: 0 0.6rem;
	border: none;
	outline: none;
	font-size: 1.25em;
}

.drop-favorite label{
	position: relative;
}

.drop-favorite label::after{
	content: '';
	border-style: solid;
	border-width: 5.5px 5.5px 0 5.5px;
	border-color: rgb(127, 127, 127) transparent transparent transparent;
	position: absolute;
	top: 55%;
	left: 1.45rem;
}

.question{
	margin: 0 1.1rem 0 1.3rem;
}

/*  SECOND FORM  -- setting-form-wrap -- */

.setting-form-wrap,
.setting-form{
	width: 100%;
}

.setting-form{
	height: 100%;
}

.setting-form select,
.setting-form label,
.setting-form input[type="reset"],
.setting-form input[type="button"]{
	cursor: pointer;
}

.setting-form .action-area-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin: 1.45rem 0 2.75rem 0;
}

.setting-form .action-area-wrap p{
	flex-grow: 1;
	text-align: center;
	font-size: 1.1em;
	line-height: 1.05em;
	color: rgb(33, 33, 33);
}

.setting-form .action-area-wrap .action-select-wrap select{
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 9.8rem;
	height: 2.5rem;
	border-radius: 7px;
	margin-right: 0.87rem;
	padding: 0 0 0 1.3rem;
	background-color: rgb(45, 89, 138);
	color: #fff;
	font-size: 1.125em;
	outline: none;
}

.setting-form .action-area-wrap .action-select-wrap {
	position: relative;
}

.setting-form .action-area-wrap .action-select-wrap::after{
	content: '';
	border-style: solid;
	border-width: 7px 7px 0 7px;
	border-color: #fff transparent transparent transparent;
	position: absolute;
	top: 45%;
	right: 2.2rem;
}

.setting-form .action-area-wrap .action-select-wrap select option{
	background-color: #fff;
	color: #000;
}

.setting-form .form-fields-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 7.5rem;
}

.form-label-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	margin-right: 0.68rem;
}

.form-label-wrap > label{
	margin: 1rem 0;
	font-size: 1.06em;
	line-height: 1.1em;
}

.setting-form label{
	color: rgb(52, 84,106);
}

.form-item-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 70%;
}

.form-item-wrap > input{
	height: 2.9rem;
}

.form-item-wrap > input,
.form-item-wrap textarea{
	margin-bottom: 1rem;
	padding: 0.2rem;
}

.form-item-wrap textarea{
	max-width: 100%;
	min-width: 100%;
	min-height: 5.3rem;
	border: solid 2px rgb(191, 191, 191);
}

.form-select-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 9.65rem;
}

.form-select-wrap > label{
	margin-right: 0.68rem;
}

.form-select-wrap select{
	width: 14.75rem;
	height: 4.375rem;
	padding: 0.1rem 0.3rem;
	border: solid 4px rgb(191, 191, 191);
}

.form-button-wrap{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	margin-top: 1.375rem;
}

.form-button-wrap input{
	padding: 0.4rem 1.2rem;
	margin-right: 1.25rem;
	border-radius: 7px;
	background-color: rgb(13, 152, 35);
	border: none;
	outline: none;
	color: #fff;
	font-size: 1.3em;
	line-height: 1.1em;
}

.form-button-wrap input:first-child{
	color: #545454;
	background-color: transparent;
}
